:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
}

/* layout */
.container {
    max-width: 1440px;    
}

.center {
    text-align: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

}

.p-10 {
    padding: 10px;
}

.p-60 {
    padding: 0 60px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
/* .mt-50 {
    margin-top: 50px;
} */
.mb-100 {
    margin-bottom: 100px;
}


.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* responsive images */

img {
    /* display: block; */
    max-width: 100%;
    height: auto;
}

/* buttons */

button {
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 30px;
    /* padding: 10px; */
    font-size: 18px;
    font-weight: 600;
}

.blue-button {
    background: hsl(233, 100%, 69%);
    /* align-self: center; */
}

.cyan-button {
    background: hsl(171, 66%, 44%);
    /* margin-right: 20px; */
    /* align-self: center; */
}

/* links */

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

/* intro section */

.intro {
    background-image: url("../images/bg-header-mobile.png");
    background-position: center;
    background-size: cover;
    /* height: 50vh; */
    padding-top: 50px;
    /* margin-bottom: 320px; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "logo"
        "text-area"
        "buttons";
}

.logo {
    grid-area: logo;
    /* text-align: center; */
    /* align-self: center; */
    display: grid;
    justify-content: center;
    padding: 30px;
}

.intro-text {
    grid-area: text-area;
    text-align: center;
    padding: 20px 30px;
}

.intro-buttons {
    grid-area: buttons;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 10px;
    padding: 20px;
}

/* feature-one */
.feature-one-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 100px;
    /* justify-content: center;
    align-items: center; */

}

.feature-one-image {
    padding: 0 20px;
}
.action-text {
    text-align: center;
    padding: 0 40px;
}
.feature-one-text {
    text-align: center;
    padding: 0 20px;
}

/* footer */
footer {
    background-color: hsl(201, 11%, 66%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* feature three */
.feature-three {
    /* margin-right: 40px; */
    /* margin-left: 40px; */
    /* display: grid; */
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-row-gap: 30px; */
    /* justify-content: start; */
    /* justify-items: center; */
    /* text-align: center; */
    /* text-align: center; */
}
.grid-wrapper-2 {
    display: flex;
    flex-direction: column;
    ali: space-evenly;
    /* grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    justify-items: center; */
    justify-content: space-evenly;
}
.grid-wrapper-3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-row-gap: 20px; */
    justify-items: center;
}


.subgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: 1fr; */
    justify-items: center;
    align-items: center;
}

/* desktop specific styles */

@media screen and (min-width: 600px) {
    .intro {
        background-image: url("../images/bg-header-desktop.png");
    }
    
    .feature-one-image {
        margin-left: -50px;
    }

    .feature-one-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 140px 0 40px;
    }

    .links-grid {
        display: grid;
        grid-template-areas: "col-1 col-2 col-3";
        align-items: center;
    }

    .col-1 {
        grid-area: col-1;
    }

    .col-2 {
        grid-area: col-2; 
    }

    .col-3 {
        grid-area: col-3;
    }

    .flex-wrapper {
        flex-direction: row;
    }

    .grid-wrapper-2 {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .grid-wrapper-3 {
        grid-column-gap: 1fr;
    }

}

